html {
  /*1rem = 10px*/
  font-size: 62.5%; }

body {
  font-size: 2rem;
  font-family: 'Source Code Pro', monospace;
  color: #0a1412; }

.heading {
  font-family: 'Raleway', sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 19%;
  margin-bottom: 3rem;
  line-height: 8rem;
  letter-spacing: 2rem; }
  .heading--1 {
    display: block; }
  .heading--2 {
    display: block;
    color: #1a8363; }
  .heading--3 {
    display: block; }

.infobox__text {
  text-align: center;
  line-height: 2.5rem; }
  .infobox__text--captivate {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    line-height: 4rem;
    letter-spacing: .2rem;
    font-weight: 600;
    text-transform: uppercase; }

.email-form {
  position: relative;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.6rem;
  letter-spacing: 1px; }
  .email-form__input {
    width: 65%;
    padding: .8rem 0;
    margin-bottom: 1rem;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #0a1412;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    transition: .6s; }
    .email-form__input:focus {
      border-bottom: 1px solid #1a8363; }
    .email-form__input:focus ~ label {
      top: -2.2rem; }
  .email-form__label {
    position: absolute;
    top: 0;
    left: 0;
    text-transform: capitalize;
    padding: .8rem 0;
    transition: .6s; }
  .email-form__submit {
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    color: #f2fefb;
    background: #1a8363;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: .7rem;
    cursor: pointer;
    position: absolute;
    left: calc(65% + 3rem); }

.infobox {
  background-color: #f2fefb;
  width: 65%;
  position: relative;
  display: flex;
  margin: auto;
  margin-top: 50vh;
  transform: translateY(-50%);
  box-shadow: 0 1px 1px rgba(10, 20, 18, 0.1), 0 2px 2px rgba(10, 20, 18, 0.1), 0 4px 4px rgba(10, 20, 18, 0.1), 0 8px 8px rgba(10, 20, 18, 0.1); }
  .infobox__left {
    flex: 1 auto;
    width: 55%;
    margin: 0 15rem; }
  .infobox__logo {
    position: absolute;
    width: 12rem;
    left: 3rem;
    top: -1rem; }
  .infobox__hero {
    max-width: 40%; }
  .infobox__text {
    margin-bottom: 4rem; }

body {
  overflow: hidden;
  background-image: linear-gradient(to top right, rgba(122, 253, 214, 0.2), rgba(199, 253, 238, 0.2)), url(../../images/water-bw.jpg); }
