.infobox {
    background-color: $color-light;
    width: 65%;
    position: relative;
    display: flex;
    //center horizontally
    margin: auto;
    //center-ish vertically
    margin-top: 50vh;
    transform: translateY(-50%);
    //shadow
    box-shadow: 
        0 1px 1px rgba($color-dark, .1),
        0 2px 2px rgba($color-dark, .1),
        0 4px 4px rgba($color-dark, .1),
        0 8px 8px rgba($color-dark, .1);

    //container for logo, text and email-form
    &__left{
        flex: 1 auto;
        width: 55%;
        margin: 0 15rem;
    }

    &__logo {
        position: absolute;
        width: 12rem;
        left: 3rem;
        top: -1rem;
    }

    //picture of fashion model
    &__hero {
        max-width: 40%;
    }
    
    &__text {
        margin-bottom: 4rem; //for space before the email form
    }

    &__email-form {
        position: relative;

        &--input {
            width: 100%;
            padding: .8rem 0;
            font-size: 1.6rem;
            font-family: 'Source Code Pro', monospace;
            background: transparent;
            outline: none;
            border: none;
            border-bottom: 1px solid $color-dark;
            transition: .6s;

            &:focus {
                //change bottom border color to indicate focus
                border-bottom: 1px solid $color-primary-dark;
            }

            &:focus ~ label {
                top: -2.2rem;   //move label up when focused
            }
        }

        &--label {
            // place label on top of input field
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1.6rem;
            text-transform: capitalize;
            padding: .8rem 0;
            transition: .6s;
        }
    }
}