body {
    font-size: 2rem; //20px
    font-family: 'Source Code Pro', monospace;
    color: $color-dark;
}

.heading {
    font-family: 'Raleway', sans-serif;
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 2.5rem;
    line-height: 9rem;
    letter-spacing: 2rem;

    &--1 {
        display: block;
    }

    &--2 {
        display: block;
        color: $color-primary-dark;
    }

    &--3 {
        display: block;
    }
}

.infobox__text {
    text-align: center;
    line-height: 2.5rem;

    &--captivate {
        font-family: 'Raleway', sans-serif;
        font-size: 2.5rem;  //5px bigger than bulk of text
        line-height: 4rem;  //to seperate from rest of text
        letter-spacing: .2rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}