body {
    font-size: 2rem; //20px
    font-family: 'Source Code Pro', monospace;
    color: $color-dark;
}

.heading {
    font-family: 'Raleway', sans-serif;
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 19%;
    margin-bottom: 3rem;
    line-height: 8rem;
    letter-spacing: 2rem;

    &--1 {
        display: block;
    }

    &--2 {
        display: block;
        color: $color-primary-dark;
    }

    &--3 {
        display: block;
    }

    @media only screen and (max-width: 1650px) {
        font-size: 5rem;
        line-height: 7rem;
    }
    @media only screen and (max-width: 1350px) {
        &--1 {
            display: none;
        }
    }
    @media only screen and (max-width: 1200px) {
        font-size: 4rem;
        line-height: 6rem;
        margin-bottom: 1.5rem;
    }
    @media only screen and (max-width: 1050px) {
        margin-top: 0;
        &--1 {
            display: block;
        }
    }
}

.infobox__text {
    text-align: center;
    line-height: 2.5rem;

    &--captivate {
        font-family: 'Raleway', sans-serif;
        font-size: 2.5rem;  //5px bigger than bulk of text
        line-height: 4rem;  //to seperate from rest of text
        letter-spacing: .2rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    @media only screen and (max-width: 1550px) {
        font-size: 1.6rem;
        line-height: 2rem;

        &--captivate {
            font-size: 2rem;
            line-height: 3rem;
        }
    }

    @media only screen and (max-width: 1200px) {
        &--captivate {
            display: none;
        }
    }
    @media only screen and (max-width: 1050px) {
        &--captivate {
            display: block;
        }
    }
}